In [1]:
import io
from pathlib import Path

import pandas as pd
from ssrs import RoomMapping

In [2]:
base_dir = Path(".").resolve()

In [3]:
params = [("OM", "Y22-23"), ("OM", "Y23-24"), ("DU", "ALL 22-23"), ("DU", "ALL 23-24")]

In [4]:
dfs = []

for destination, season in params:
    room_mapping = RoomMapping(destination, season)
    get_rooms = room_mapping.get()

    df = pd.read_csv(io.StringIO(get_rooms))
    df["HotelName"] = df["HotelName"].str.split().str.join(" ")
    df.drop(["Meal_Supplements", "Notes"], axis=1, inplace=True)

    dfs.append(df)

In [5]:
room_mapping = pd.concat(dfs, axis=0, ignore_index=True)

In [6]:
room_mapping.head()

,HotelName,Destination,ContractID,OperatorName,ContractSPO,Guarantee,SingleSupplement,SPOName,SPOCode,contractType,...,MinRoomPrice,MaxOccupancy,MinOccupancy,MaxAdl1,MinAdl,MaxChl,MinChl,AdultOnly1,InfantAllowed1,MealPlan
0,CROWNE PLAZA RESORT SALALAH,Salalah,30800,MEETING POINT OMAN,Main Contract,False,False,NaN,NaN,P,...,1,2,1,1,1,1,0,True,True,HB
1,CROWNE PLAZA RESORT SALALAH,Salalah,30800,MEETING POINT OMAN,Main Contract,False,False,NaN,NaN,P,...,2,4,2,2,2,2,0,True,True,HB
2,CROWNE PLAZA RESORT SALALAH,Salalah,30800,MEETING POINT OMAN,Main Contract,False,False,NaN,NaN,P,...,1,2,1,1,1,1,0,True,True,HB
3,CROWNE PLAZA RESORT SALALAH,Salalah,30800,MEETING POINT OMAN,Main Contract,False,False,NaN,NaN,P,...,2,4,2,3,2,2,0,True,True,HB
4,AL JABAL HOTEL SALALAH,Salalah,31143,MEETING POINT OMAN,Main Contract,False,False,NaN,NaN,P,...,1,1,1,1,1,0,0,True,False,BB

In [7]:
room_mapping.shape

(25235, 40)

In [8]:
room_mapping.sort_values(["HotelName", "MapRoomCode", "RoomId2"], inplace=True)

In [9]:
room_mapping.to_csv(base_dir / "data" / "room_mapping.csv", index=False)