In [1]:
import io
from pathlib import Path

import pandas as pd
from ssrs import RoomMapping

In [2]:
base_dir = Path(".").resolve()

In [3]:
room_mapping = RoomMapping("DU", "ALL 23-24")
get_rooms = room_mapping.get()

200

In [27]:
df = pd.read_csv(io.StringIO(get_rooms))
df['HotelName'] = df['HotelName'].str.strip()
df.drop(
    ["Meal_Supplements", "Notes"], axis=1, inplace=True
)

In [28]:
from db import *

In [29]:
mapping_hotel_df = pd.read_sql(sql=select(mapping_hotel), con=engine.connect())

In [30]:
mapping_hotel_df.head()

      id                     hotel_name  is_charter  is_active  hotel_id
0  90004    JUWEIRA HYDRO CHARTER 17-18        True      False  10001048
1  90012            CLUB ROTANA FISCHER       False      False  10001006
2  90013      FANAR HYDRO CHARTER 17-18        True      False  10001020
3  90016               FANAR KAPPA CLUB       False      False  10001020
4  90021  ROUNDTRIP CUSTOM PREF PARTIES       False       True  10001080

In [31]:
id_mapping = dict(zip(mapping_hotel_df["hotel_name"], mapping_hotel_df["id"]))

In [32]:
df["test"] = df["HotelName"].map(id_mapping)

In [33]:
df.to_csv("output.csv")

In [34]:
df.isna().sum()

HotelName                  0
Destination                0
ContractID                 0
OperatorName               0
ContractSPO                0
Guarantee                  0
SingleSupplement           0
SPOName                 7353
SPOCode                 7353
contractType               0
Active                     0
BeginDate                  0
EndDate                    0
ResStartDate               0
ResStopDate                0
PurchaseContractID      7353
Purchase_Room_ID        7353
RoomId2                    0
RoomDescription            0
RoomLocation               0
RoomView                3586
HotelRoomDescription       0
MapRoomCode                0
MapRoomCode2            2191
FTIRoomCode                0
BIGXRoomCode               0
RoomAllotment              0
AllotmentGuarantee         0
PriceType                  0
PerRoomCalcType           17
MinRoomPrice               0
MaxOccupancy               0
MinOccupancy               0
MaxAdl1                    0
MinAdl                     0
MaxChl                     0
MinChl                     0
AdultOnly1                 0
InfantAllowed1             0
MealPlan                   0
test                     410
dtype: int64