In [35]:
from pathlib import Path

import pandas as pd
from db import *

In [36]:
base_dir = Path(".").resolve()

In [37]:
df = pd.read_csv(base_dir / "data" / "bookings.csv")
hotel_mapping = pd.read_sql(
    sql=select(
        mapping_hotel.c.id, mapping_hotel.c.hotel_id, mapping_hotel.c.is_charter
    ),
    con=engine.connect(),
)

In [38]:
id_mapping = dict(zip(hotel_mapping["id"], zip(hotel_mapping["hotel_id"], hotel_mapping["is_charter"])))

def get_mapping_value(id_value):
    return id_mapping.get(id_value, (None, None))
df[["hotel_id", "is_charter"]] = df["hotel_id"].apply(get_mapping_value).apply(pd.Series)

In [5]:
# Prepare Text Case
for col in ["guest_name", "room_code", "meal"]:
    df[col] = df[col].str.upper()

for col in ["status", "status4", "status5"]:
    df[col] = df[col].str.capitalize()

In [6]:
# Operator Code
df["operator_code"] = df["operator_code"].fillna(df["hotel_id"]).apply(str)

In [7]:
hotel_mapping_id =

,ref_id,res_id,hotel_id,operator_id,operator_code,bkg_ref,guest_name,sales_date,in_date,out_date,...,status5,purchase_contract_id,purchase_spo_id,sales_contract_id,sales_spo_id,sales_spo_name,sales_spo_code,purchase_spo_name,purchase_spo_code,main_season
0,1535416,778062,218736,6,AUH277,RDUMMY0208,RDUMMY0208 RDUMMY0208,2017-01-01,2023-03-09,2023-03-15,...,Man,291586,859993.0,0,0.0,None,None,RAMADA WYNDHAM EBD,RAMADA WYNDHAM EBD,None
1,1771832,1505568,127536,1015,127536,500730517,MICHAEL1 FISHER1,2021-09-10,2023-09-07,2023-09-16,...,Xml,229335,712099.0,229346,0.0,None,None,Better with Jumeirah Campaign 2021 on BB / HB ...,WBJ2BB1 / WBJ2HB1,All 21-22
2,1797019,1527231,208929,27,DXB2HS,J6G1D,BOBAN MAKSIMOVIC,2021-10-21,2023-10-17,2023-10-25,...,Txt,0,0.0,0,0.0,None,None,None,None,None
3,1841027,1527251,207460,27,DXB2FM,JFGLU,BOBAN MAKSIMOVIC,2021-10-22,2023-10-25,2023-10-29,...,Txt,267750,0.0,268978,0.0,None,None,None,None,ALL 22-23
4,1834088,1561581,195703,69,DXBR32,4331426,DANIELA ENGELS,2021-11-25,2023-03-04,2023-03-07,...,Txt,236631,0.0,236653,0.0,None,None,None,None,DM 22-23

In [8]:
mapping_hotel_df.head()

      id  hotel_id  is_charter
0  90004  10001048        True
1  90012  10001006       False
2  90013  10001020        True
3  90016  10001020       False
4  90021  10001080       False

In [9]:
df = df.merge(mapping_hotel_df, how="left", left_on="hotel_id", right_on="id")

In [39]:
df.head()

,ref_id,res_id,hotel_id,operator_id,operator_code,bkg_ref,guest_name,sales_date,in_date,out_date,...,purchase_contract_id,purchase_spo_id,sales_contract_id,sales_spo_id,sales_spo_name,sales_spo_code,purchase_spo_name,purchase_spo_code,main_season,is_charter
0,1535416,778062,NaN,6,AUH277,RDUMMY0208,RDUMMY0208 RDUMMY0208,2017-01-01,2023-03-09,2023-03-15,...,291586,859993.0,0,0.0,NaN,NaN,RAMADA WYNDHAM EBD,RAMADA WYNDHAM EBD,NaN,None
1,1771832,1505568,10000521.0,1015,127536,500730517,Michael1 Fisher1,2021-09-10,2023-09-07,2023-09-16,...,229335,712099.0,229346,0.0,NaN,NaN,Better with Jumeirah Campaign 2021 on BB / HB ...,WBJ2BB1 / WBJ2HB1,All 21-22,False
2,1797019,1527231,10000944.0,27,DXB2HS,J6G1D,BOBAN MAKSIMOVIC,2021-10-21,2023-10-17,2023-10-25,...,0,0.0,0,0.0,NaN,NaN,NaN,NaN,NaN,False
3,1841027,1527251,10000840.0,27,DXB2FM,JFGLU,BOBAN MAKSIMOVIC,2021-10-22,2023-10-25,2023-10-29,...,267750,0.0,268978,0.0,NaN,NaN,NaN,NaN,ALL 22-23,False
4,1834088,1561581,10000312.0,69,DXBR32,4331426,Daniela Engels,2021-11-25,2023-03-04,2023-03-07,...,236631,0.0,236653,0.0,NaN,NaN,NaN,NaN,DM 22-23,False